body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-wrapper {
  /* background-color: green; */
}  

.content { 
  /* background-color: blue;  */
  position:absolute; 
  left:0; right:0;
  top:0; bottom:0;
  margin:auto; 
}

.title {
  font-size: 4em;
  text-align: center;
  width: 100%;
  text-decoration: underline;
  margin-bottom: 1%;
}

.subTitle {
  font-size: 1.2em;
  color: grey;
  text-align: center;
  width: 100%; 
  margin-bottom: 15%;
}

#playerNameInputPanel {
  padding: 5%;
  width: 70%;
  height: 24%;
  border-radius: 25px;
  background-color: lightgrey;
  position: absolute;
  position:absolute; 
  left:0; right:0;
  top:-20%; bottom:0;
  margin:auto; 
  background-color: aliceblue;
  border: 2px solid green;
  min-height: 220px;
  min-width: 250px;
}

.inputTitle {
  display: block;
  font-size: 140%;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
}

form{ 
  display: inline-block;
  width: 100%;
}

form input{
  font-weight: bold;
  font-size: 1.7em;
  display:block;
  float: left;
  width: 78%;
  margin-bottom: 4%;
}

form label{
  font-size: 1.7em;
  width: 18%; 
  display:block;
  float: left;
  margin-bottom: 4%;
}

/* .inputLabels {
  font-size: 160%;
  font-weight: bold;
}

.inputFields {
  width: 80%;
  height: 2em; 
} */

.inputButtonWrapper{
  width: 100%;
  height: 20%;
  margin-top: 1em; 
  text-align: center; 
}

.inputButton { 
  margin:auto;
  width: 100%;
  height: 100%;
  font-size: 2em; 
  border-radius: 10px;
  font-weight: bold;
  background-color: green;
  color: aliceblue;
}

#board { 
}

table {
  border-collapse: collapse;
}
td {
  width:33%;
  height: 33%;
  border: 6px solid #222; 
  text-align: center;
  font-size: 8em;
  font-weight: bold;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}
td:hover {
  background-color: lavender;
}

.hidden { display:none; }
